<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/clienteform.css">
    <script src="login.js"></script>

    <title>Ingreso Datos Cliente</title>
</head>
<body>
    <form action="/" method="POST"  class="ingreso-usuario">
        <h4>Ingreso Datos Cliente Nuevo</h4>
        <input class="controles" type="text" name="id" id="id" placeholder="Id">
        <input class="controles" type="text" name="nom" id="nom" placeholder="Nombre">
        <input class="controles" type="text" name="tel" id="tel" placeholder="Telefono">
        <input class="controles" type="text" name="direc" id="direc" placeholder="Direccion">
        <input class="controles" type="text" name="est" id="est" placeholder="Estado">

        <input type="submit" value="Registrar">

        <a href="index.html"><p>Volver a la pagina principal SOPE.</p></a>
    </form>
</body>
</html>