<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/productoform.css">
    <script src="login.js"></script>

    <title>Ingreso producto</title>
</head>
<body>
    <form  action="/" method="POST" class="ingreso-usuario">
        <h4>Ingreso de productos</h4>
        <input class="controles" type="text" name="id" id="id" placeholder="Id">
        <input class="controles" type="text" name="nom" id="nom" placeholder="Nombre">
        <input class="controles" type="text" name="mot" id="mot" placeholder="Motor">
        <input class="controles" type="text" name="prec" id="prec" placeholder="Precio">
        <input class="controles" type="text" name="cant" id="cant" placeholder="Cantidad Caja">
        <input class="controles" type="text" name="int" id="int" placeholder="Interior">
        <input class="controles" type="text" name="ext" id="ext" placeholder="Exterior">
        <input class="controles" type="text" name="long" id="long" placeholder="Longitud">
        <input class="controles" type="text" name="prec_caj" id="prec_caj" placeholder="Precio Caja">

        <input type="submit" value="Registrar">

        <a href="index.html"><p>Volver a la pagina principal SOPE.</p></a>
    </form>
</body>
</html>